   p{
        text-align: center;
        color:red;
    }

  h1{
        color:black ;
        background-color: aqua;
        text-align: center;
    }

    .grid{
        display: flow-root;
        justify-content:flex-start;
        flex-wrap: wrap;
     }

     grid:hover{
         font-kerning: normal;
     }
     
     
 


 


































